{% extends "account/Layout/base_simple.html" %}
{% load tailwind_filters %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content_account %}

  <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">{% trans "Password Reset" %}</h1>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="max-w-2xl text-gray-900 pt-6 pb-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  {% url 'account_reset_password' as reset_url %}
  {% element form form=form method="post" action=reset_url %}
    {% slot body %}
      {% csrf_token %}
      {{ form|crispy }}
    {% endslot %}
    {% slot actions %}
      {% include "components/btn/button.html" with button_text="Resetear Contraseña" %}
    {% endslot %}
  {% endelement %}

  <p class="max-w-2xl text-gray-900 pt-6 pb-3">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>



{% endblock content_account %}
