{% extends "account/Layout/base_simple.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content_account %}

  <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h1>

  {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p class="max-w-2xl text-gray-900 pt-6 pb-3">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="text-indigo-500">new password reset</a>.{% endblocktrans %}</p>
  {% else %}
    {% element form method="post" action=action_url %}
      {% slot body %}
        {% csrf_token %}
        {{ redirect_field }}
        {{ form|crispy }}
      {% endslot %}
      {% slot actions %}
        {% include "components/btn/button.html" with button_text="Cambiar Contraseña" %}
      {% endslot %}
    {% endelement %}
  {% endif %}

{% endblock content_account %}
