{% extends "account/Layout/base_account.html" %}
{% load tailwind_filters %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content_account %}

  <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">{% trans "Change Password" %}</h1>

  {% if messages %}
      {% for message in messages %}
        {% if "success-password" in message.tags %}
        <div class="rounded-md bg-green-50 p-4 mb-3">
          <div class="flex">
            <div class="flex-shrink-0"></div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-green-800 ">{{ message }}</h3>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
  {% endif %}

  {% url 'account_change_password' as action_url %}

  {% element form form=form method="post" action=action_url %}
    {% slot body %}
        {% csrf_token %}
        {{ redirect_field }}
        {{ form|crispy }}
    {% endslot %}
    {% slot actions %}  
      {% include "components/btn/button.html" with button_text="Cambiar Contraseña" %}
    {% endslot %}
  {% endelement %}
  
  {% include 'components/mensajes.html' %}          

{% endblock content_account %}
