<nav class="flex flex-1 flex-col">
  <ul class="flex flex-1 flex-col gap-y-7">
    <li>
      <ul class="-mx-2 space-y-1">
        <li>
          <a href="{% url 'Home' %}" class=" group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/' %}text-white bg-gray-800 {% else %}  text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
            <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Inicio
          </a>
        </li>
        {% if user.profile.position_FK.permission_code != "RESTRICTED" %}
          <li>
            <a href="{% url 'Register' %}" class=" group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/registro/' %}text-white bg-gray-800 {% else %} text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
              <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
              </svg>
              Registro de Usuarios
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{% url "User" %}" class=" group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/usuarios/' %}text-white bg-gray-800 {% else %}  text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
            <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            Usuarios
          </a>
        </li> 
        <div class="text-xs font-semibold leading-6 text-gray-400">Tus Configuraciones</div>
      <ul class="-mx-2 mt-2 space-y-1">
        <li>
          <a href="{% url 'mfa_index' %}" class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/accounts/2fa/' %} text-white bg-gray-800 {% else %} text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
            <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium {% if request.path == '/accounts/2fa/' %} border-indigo-600 {% else %}   border-gray-700 bg-gray-800 text-gray-400 group-hover:border-indigo-600 group-hover:text-white  {% endif %}">2FA</span>
            <span class="truncate">Autentificación 2fa</span>
          </a>
        </li>
        <li>
          <a href="{% url 'account_change_password' %}" class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/accounts/password/change/' %} text-white bg-gray-800 {% else %} text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
            <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium {% if request.path == '/accounts/password/change/' %} border-indigo-600 {% else %}   border-gray-700 bg-gray-800 text-gray-400 group-hover:border-indigo-600 group-hover:text-white   {% endif %}">PW</span>
            <span class="truncate">Cambio de Contraseña</span>
          </a>
        </li>
        <li>
          <a href="{% url 'Profile' %}" class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.path == '/perfil/' %} text-white bg-gray-800 {% else %} text-gray-400 hover:text-white hover:bg-gray-800 {% endif %}">
            <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border text-[0.625rem] font-medium {% if request.path == '/perfil/' %} border-indigo-600 {% else %}   border-gray-700 bg-gray-800 text-gray-400 group-hover:border-indigo-600 group-hover:text-white  {% endif %}">PF</span>
            <span class="truncate">Perfil</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="mt-auto">
      <a href="{% url 'account_logout' %}" class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white">
        <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  
          <path d="M7 12h14l-3 -3m0 6l3 -3" />
        </svg>
        Cerrar Seccion
      </a>
    </li>
  </ul>
</nav>