{% if paginator.num_pages > 1 %}
  <div class="flex justify-center mt-10">
    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm bg-gray-100" aria-label="Pagination">
      
      {# Botón para la página anterior #}
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-500 focus:z-20 focus:outline-offset-0">
          <span class="sr-only">Anterior</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
        </a>
      {% endif %}

      {# Loop para las páginas #}
      {% for page in paginator.page_range %}
        {% if forloop.last and page != page_obj.number and paginator.num_pages > 7 %}
          {# Punto suspensivo antes de la última página #}
          {% if page_obj.next_page_number != paginator.num_pages %}
            <a href="?page={{ page_obj.number | add:1 }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 hover:bg-gray-500">...</a>
          {% endif %}
          <a href="?page={{ paginator.num_pages }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 hover:bg-gray-500">{{ paginator.num_pages }}</a>
        {% endif %}

        {% if page == page_obj.number and page > 7 %}
          {# Punto suspensivo alrededor de las páginas intermedias #}
          <a href="?page={{ page | add:-1 }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 hover:bg-gray-500">...</a>
        {% endif %}

        {% if page < 7 or page == page_obj.number %}
          {# Páginas visibles o la página actual #}
          <a href="?page={{ page }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center {% if page == page_obj.number %}z-10 bg-indigo-600 text-white{% else %}text-gray-900{% endif %} px-3 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 hover:bg-gray-500">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {# Botón para la página siguiente #}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}#pagtable" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0 hover:bg-gray-500">
          <span class="sr-only">Siguiente</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </a>
      {% endif %}
    </nav>
  </div>
{% endif %}
