{% extends "account/Layout/base_account.html" %}
{% load i18n %}
{% load allauth %}
{% load tailwind_filters %}

{% block head_title %}
    {% trans "Recovery Codes" %}
{% endblock head_title %}

{% block content_account %}

  <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl">
    Códigos de Recuperación
  </h1>
  <div class="space-y-6">
    <p class="max-w-2xl text-gray-900 pt-6"> 
        {% blocktranslate %}You are about to generate a new set of recovery codes for your account.{% endblocktranslate %}
        {% if unused_code_count %}
            {% blocktranslate %}This action will invalidate your existing codes.{% endblocktranslate %}
        {% endif %}
        {% blocktranslate %}Are you sure?{% endblocktranslate %}
    </p>
    {% url 'mfa_generate_recovery_codes' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
      {% slot body %}
        {% csrf_token %}
        {{ form|crispy }}
      {% endslot %}
      {% slot actions %}
        {% setvar tags %}
          {% if unused_code_count %}
            danger
          {% else %}
          {% endif %}
        {% endsetvar %}
          {% include "components/btn/button_size.html" with button_text="Genearar"  button_class="{{ tags }}" %}
      {% endslot %}
    {% endelement %}
  </div>

  {% include 'components/mensajes.html' %}

{% endblock content_account %}
